html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.desktop {
    background-image: url('../assets/images/bgwtaskbar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: calc(100vh * 1.8 - 15px);
    height: calc(100vw - 43.5vw);
    position: fixed;
    background-color: rgba(255, 255, 0, 0.205);
    max-height: 100vh;
}
.desktop button {
    position: absolute;
    /* top: 19vw; */
    /* left: 27vw; */
    border: 0;
    background-image: url('../assets/images/icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    /* width: 20.7vw;
    /* height: 20.7vw; */
    margin-top: -16px;
    margin-left: -12px;
    cursor: pointer;
}
.desktop button:hover {
    background-image: url('../assets/images/icon-hover.png');
}
.video-container {
    visibility: hidden;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.video-container video {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    width: 100vw;
    max-height: 100vh;
}
.mobile-message {
    display: none;
}

@media(max-width:535px) {
    .mobile-message {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #000;
        text-align: center;
    }
}